node_modules/
dist/
build/
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
crash.log
crash.*.log

# Secrets
.env
.env.*
!.env.example

# Artefacts de test (J2)
coverage/
playwright-report/
test-results/
.e2e-uploads/
npm-audit.json
npm-audit.html
gitleaks-report.sarif
trivy-fs.sarif
zap-report/